*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "NormalFont";
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: "NormalFont";
  src: url("./assets/Normal_font-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ObfuscatedFont";
  src: url("./assets/Obfuscted_font-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
